/*Our header CSS, styling the logo, the title of the site and an coloctrical background picture*/

.site-header {
    justify-items: left;
}

/*The backgroung picture format*/
.header-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;    
}

/*the main div that contains the elements of the header*/
.logo-container {
    display: flex;
    align-items: center;
    margin: 0 auto;   
    gap: 5vw;
}

.logo{
    padding-left: 20px;
}
/*styling the logo img*/
.logo img {
    border-radius: 50%; /* This makes the image round */
    width: 13vw; /* Adjust the width of the logo as needed for different screen sizes*/
    height: auto; /* Maintain aspect ratio */
}

/*The title "Sonusphere" of our site*/
.description {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    width: 30vw; /* Adjust the width of the title for different screen sizes */
    height: auto; /* Maintain aspect ratio */
}

.menu {
    list-style: none ;
    background-color:#f4f4f4;
    width: 100%;
    padding: 1px 0 1px 0;
    
    transition: color 0.3s, background-color 0.3s;
}
.menu a {
    list-style: none;
}